
<!DOCTYPE html>
<html ng-app="store">

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/kegstarter.css" />		
	</head>
	<body>
		<div class="container" ng-controller="StoreController as store">
			<accordion close-others="oneAtATime">
			<div class="product row" ng-repeat="product in store.products">
				<div ng-hide="product.soldOut">
					<accordion-group>
					<accordion-heading>
						{{product.name}}
						<div class="pull-right col-sm-4">
						<progressbar class="progress-striped active" value="product.funding" max="product.price" type="danger">
							{{product.funding}}/{{product.price}}
						</progressbar>
						</div>
					</accordion-heading>
					<product-title></product-title>

					<!-- Image Galery -->
					<product-gallery ng-show="product.images.length"></product-gallery>
					<!-- gallery -->

					<!-- Description Panels -->
					<product-panels></product-panels>
					<!-- Description Panels -->

					<button ng-show="product.canPurchase">Fund This Beer</button>
					
					</accordion-group>
				</div>  <!-- product -->
			</div>  <!-- product list -->
			</accordion>
		</div> <!-- controller -->

		<script src="js/angular.js"></script>
		<script src="js/ui-bootstrap-tpls-0.12.1.js"></script>
		<script src="js/app.js"></script>
		<script src="js/products.js"></script>
	</body>

</html>