<section>
	<ul class="nav nav-pills">
		<li ng-class="{ active:panel.isSelected(1) }">
			<a href ng-click="panel.selectTab(1)">Description</a>
		</li>
		<li ng-class="{ active:panel.isSelected(2) }">
			<a href ng-click="panel.selectTab(2)">Volume</a>
		</li>
		<li ng-class="{ active:panel.isSelected(3) }">
			<a href ng-click="panel.selectTab(3)">Funding</a>
		</li>
		<li ng-class="{ active:panel.isSelected(4) }">
			<a href ng-click="panel.selectTab(4)">Reviews</a>
		</li>
	</ul>
<product-description ng-show="panel.isSelected(1)"></product-description>
<product-size ng-show="panel.isSelected(2)"></product-size>
<product-funding ng-show="panel.isSelected(3)"></product-funding>
<product-reviews ng-show="panel.isSelected(4)"></product-reviews>


</section> 