<div class="panel"">
	<h4>Reviews</h4>
	<blockquote ng-hide="product.reviews.length">
		<em>Be the first to write a review.</em>
	</blockquote>
	<blockquote ng-repeat="review in product.reviews">
		<b>Stars: {{review.stars}}</b>
		{{review.body}}
		<cite>by: {{review.author}}</cite>
	</blockquote>

	<!--  Review Form -->
	<form name="reviewForm" 
		  ng-controller="ReviewController as reviewCtrl"
		  ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"
		  novalidate>
		<blockquote ng-show="reviewCtrl.review.stars">
			<b>Stars: {{reviewCtrl.review.stars}}</b>
			{{reviewCtrl.review.body}}
			<cite>by: {{reviewCtrl.review.author}}</cite>
		</blockquote>
		
	<h4>Submit a Review</h4>
		<fieldset class="form-group">
		<select class="form-control" 
			    ng-options="stars for stars in [5,4,3,2,1]" 
			    ng-model="reviewCtrl.review.stars" 
			    title="Stars"
			    required>
			<option value="">Rate the Product</option>
		</select>
		</fieldset>
	<fieldset class="form-group">
		<textarea class="form-control" 
			      placeholder="Write a short review of the product..." 
			      ng-model="reviewCtrl.review.body" 
			      title="Review"
			      required>
		</textarea>
	</fieldset>
	<fieldset class="form-group">
		<input type="email" 
			   class="form-control" 
			   placeholder="jimmyDean@example.org" 
			   ng-model="reviewCtrl.review.author" 
			   title="Email"
			   required/>
	</fieldset>
	<div> reviewForm is {{reviewForm.$valid}}</div>
	<fieldset class="form-group">
		<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
	</fieldset>
	</form>

</div>