<div class="gallery">
	<div class="img-wrap">
		<img ng-src="{{product.images[gallery.currentImage].thumb}}"/>
	</div>
	<ul class="img-thumbnails clearfix">
		<li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
			<img ng-src="{{image.thumb}}" ng-click="gallery.setCurrent($index)"/>
		</li>
	</ul>
</div>
