<div class="panel">
	<h4>Funding</h4>
	<p>
		{{product.funding | currency}}
	</p>
	<div class="col-sm-4">
		<progressbar class="progress-striped active" value="product.funding" max="product.price" type="danger">
			{{product.funding}}/{{product.price}}
		</progressbar>
	</div>
</div>